**/node_modules/*
**/build/*
**/docs/*
**/bin/*
**/.next/*
**/out/*
**/dist/*
**/public/*
packages/react-icons-ng/lib/
packages/react-icons-ng/build/
packages/react-icons-ng/icons/*
!packages/react-icons-ng/icons/index.js
packages/_react-icons-ng/
