.yarn
node_modules
/dist/

/packages/_react-icons-ng
/packages/_react-icons-ng-pack

/packages/react-icons-ng/build
/packages/react-icons-ng/icons/*
!/packages/react-icons-ng/icons/index.ts

/packages/preview/out
/packages/preview/.next

/lerna.json
